* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nom {
    color: black;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    margin-top: 30px;
}

#g1 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
        "contenido contenido contenido contenido"
        "footer footer footer footer";
}

.navegador {
    grid-area: header;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menup {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menup li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

.menup a {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

.sub {
    position: absolute;
    background: rgb(255, 180, 172);
    display: none;
}

.menup li a:hover {
    color: black;
}

.menup li:hover .sub {
    display: block;
}

.contact {
    border-top: solid 10px red;
    border-right: solid 10px red;
    border-bottom: solid 10px red;
    border-left: solid 10px red;
}

.top {
    background-image: url("https://i.pinimg.com/originals/75/29/fb/7529fb2aefd7445fd4fa827ce1bbe0a7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
}


.fotos{
    width: 90%;
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-self: center;
    align-items: center;
    justify-items: center;
}

.producto1{
    width: 300px;
    height: 350px;
}
.producto2{
    width: 300px;
    height: 350px;
}
.producto3{
    width: 300px;
    height: 350px;
}
.top {
    grid-area: header;

}

.contenido {
    grid-area: contenido;
    width: 100%;
}

.contenido img  {
    width: 40%;
    height: 80%;
    margin-left: 55%;
    margin-top: 5%;
    object-fit: cover;
}
.d-block-w-100 {
    width: 1200px;
    height: 600px;
    padding: 100px;
    margin-left: 20px;
}
.card {
   
    margin-left: 10px;
     width: 400px;
     height: 400px;
 }

footer {
    grid-area: footer;
    width: 100%;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 1.5em;
}



.pagination{
    text-align: center;
    justify-content: center;
    justify-items: center;
}

@media screen and (max-width: 432px) {
    footer{
        background-color: burlywood;
    }

    
    .menup {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .fotos {
        grid-template-columns: 1fr;
    }
    .contact {
        margin-top: 10%;
        border-top: solid 20px red;
        border-right: solid 20px red;
        border-bottom: solid 20px red;
        border-left: solid 20px red;
    }
    .top {
        background-image: url("https://i.pinimg.com/originals/75/29/fb/7529fb2aefd7445fd4fa827ce1bbe0a7.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        font-size: 0.8em;
    }
    footer{
    grid-area: footer;
    width: 100%;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 0.8em;
    }
    .d-block-w-100{
        margin-left: 0%;
        width: 330px;
        height: 250px;
        padding: 0%;
    }
    .card{
        padding: 10%;
        align-content: flex-start;
        margin-left: 0px;
        width: auto;
        height: auto;
    }
}