@import "./secciones/g1";
@import "./secciones/reset";
@import "./secciones/contenido";
@import "./secciones/fotos";
@import "./secciones/pagination";
@import "./secciones/footer";
@import "./secciones/responsive";


