#g1 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "header header header header"
 "contenido contenido contenido contenido"
 "footer footer footer footer";
}

#g1 .navegador {
  -ms-grid-column-span: 4;
  grid-area: header;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#g1 .menup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#g1 .menup li {
  list-style: none;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-family: 'Mukta', sans-serif;
}

#g1 .menup a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

#g1 .sub {
  position: absolute;
  background: #ffb4ac;
  display: none;
}

#g1 .menup li a:hover {
  color: black;
}

#g1 .menup li:hover .sub {
  display: block;
}

#g1 .top {
  background-image: url("https://i.pinimg.com/originals/75/29/fb/7529fb2aefd7445fd4fa827ce1bbe0a7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#g1 .top {
  
  -ms-grid-column-span: 4;
  grid-area: header;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenido {
 
  -ms-grid-column-span: 4;
  grid-area: contenido;
  width: 100%;
}

.contenido .contenido img {
  width: 40%;
  height: 80%;
  margin-left: 55%;
  margin-top: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fotos img {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fotos img .f1:hover {
  height: 350px;
  width: 350px;
}

.fotos img .f2:hover {
  height: 350px;
  width: 350px;
}

.fotos img .g1:hover {
  height: 350px;
  width: 350px;
}

.fotos img .g2:hover {
  height: 350px;
  width: 350px;
}

.fotos img .g3:hover {
  height: 350px;
  width: 350px;
}

.fotos img .g4:hover {
  height: 350px;
  width: 350px;
}

.fotos img .g5:hover {
  height: 350px;
  width: 350px;
}

.contenido {
 
  -ms-grid-column-span: 4;
  grid-area: contenido;
  width: 100%;
}

.contenido .contenido img {
  width: 40%;
  height: 80%;
  margin-left: 55%;
  margin-top: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenido #foto-inicio {
  margin-top: 10px;
}

.contenido .contact {
  border-top: solid 10px red;
  border-right: solid 10px red;
  border-bottom: solid 10px red;
  border-left: solid 10px red;
}

.pagination {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

footer {
  -ms-grid-column-span: 4;
  grid-area: footer;
  width: 100%;
  text-align: center;
  font-family: 'Mukta', sans-serif;
  font-size: 1.5em;
  background-color: #ffb4ac;
}



@media screen and (max-width: 432px) {
  footer {
    background-color: burlywood;
  }
  .menup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fotos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact {
    margin-top: 10%;
    border-top: solid 20px red;
    border-right: solid 20px red;
    border-bottom: solid 20px red;
    border-left: solid 20px red;
  }
  .top {
    background-image: url("https://i.pinimg.com/originals/75/29/fb/7529fb2aefd7445fd4fa827ce1bbe0a7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    font-size: 0.8em;
  }
  footer {
  
    -ms-grid-column-span: 4;
    grid-area: footer;
    width: 100%;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=principal.css.map */