* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.principal{
    background-color:white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
        "contenido contenido contenido contenido"
        "footer footer footer footer";
}
 
 .navegador{
     
     grid-row-start: auto;
     grid-area: header;
     justify-self: center;
     align-items: center;
     justify-content: center;
     
 }
 
 .nav{
     width: 100%;
     gap: 200px;
      
 }
.img-fluid{
    height: 350px;
    grid-area: header;
    width: 100%;
    align-self: center;
    align-items: center;
}


.contenido {
    height: 100%;
    width: 100%;
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0px;
    justify-self: center;
    align-items: center;
    justify-items: center;
    }
     
    
 

    

.card-header{
    height: 500px;
    grid-area: header;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}
.card-img-overlay{ 
    margin-top: 180px;
    justify-self: center;
    align-items: center;
    justify-items: center;
}
.title{
   text-align: center;
}
.card-header{
    border: none;
}
.linea{
    color: black;
}
.linea-index{
    align-items: center;
    justify-items: center;
    width: 100%;
    
    justify-self: center;
}
.card-img{
    grid-area: header;
    height: 480px;
    width: 100%;
    opacity:1;
    border: none;
}

.card-index{
        margin-top: 20px;
        width: 90%;
        height: 100%;
    } 
   
   





/*carta*/
 .subtitulos{
     width: 100%;
     margin-top: 25px;
 }
 .subcategoria{
 margin-left: 40px;
 }
 .linea{
     align-items: center;
     justify-items: center;
     width: 95%;
     margin-left: 20px;
     justify-self: center;
 }

.subtitulos{
    align-self: left;
    justify-content: left;
    justify-items: left;
}
 .card{
     margin-top: 20px;
     width: 90%;
     height: 95%;
     
 } 
 

 .img-fluid{
     margin-top: 15px;
     margin-left: 8px;
     height: 150px;
 }
 .card-body{

     height: 100%;
     width: 100%;
 }

.tab-content{
    justify-self: center;
    text-align: center;
}

 /*fin*/
.img-catalogo{
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-self: center;
    align-items: center;
    justify-items: center;
}
.img-thumbnail{
    margin-left: 25px;
    width: 250px;
    height: 200px;
    justify-self: left;
    align-items: left;
    justify-items: left;

}
.redes{
    margin-left: 15px;
}
.footer { 
    
   background-color: white ;
    grid-area: footer;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: 'Mukta', sans-serif;
    font-size: 2em;
    
 }
 .subtitulo-footer{
     text-align: center;
 }
 .img-footer{
     width: 300px;
     height: 180px;
     justify-content: end;
     float: right;
     margin-top: 0;
     margin-right: 10px;
    }





    @media screen and (max-width: 433px){
        

        .nav{
            width: 100%;
            gap: 70px;
             
        }
        .linea{
            align-items: center;
            justify-items: center;
            width: 95%;
            margin-left: 10px;
            justify-self: center;
        }
       .contenido{
          gap: 10px;
        } 
       
        .card{
                margin-top: 15px;
                width: 90%;
                height: 100%;
        }
        .card-body{
            height: 50px;
            width: 90%;
      
        }
        .img-fluid{
            margin-top: 0px;
            margin-left: 0px;
            height: 150px;
            padding: 5px;
        }


        .img-footer{
            width: 150px;
            height: 100px;
            justify-content: end;
            float: right;
            margin-top: 0;
            margin-right: 10px;
           }




    }