#g1 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
        "contenido contenido contenido contenido"
        "footer footer footer footer";
        .navegador {
            grid-area: header;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        
        .menup {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        .menup li {
            list-style: none;
            padding: 10px;
            margin: 10px;
            text-align: center;
            font-family: 'Mukta', sans-serif;
        }
        
        .menup a {
            text-decoration: none;
            font-size: 1.5em;
            color: black;
        }
        
        .sub {
            position: absolute;
            background: rgb(255, 180, 172);
            display: none;
        }
        
        .menup li a:hover {
            color: black;
        }
        
        .menup li:hover .sub {
            display: block;
        }
        .top {
            background-image: url("https://i.pinimg.com/originals/75/29/fb/7529fb2aefd7445fd4fa827ce1bbe0a7.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            object-fit: cover;
            width: 100%;

        }  
        .top {
            grid-area: header;
        }
     }