@media screen and (max-width: 432px) {
    footer{
        background-color: burlywood;
    }

    
    .menup {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .fotos {
        grid-template-columns: 1fr;
    }
    .contact {
        margin-top: 10%;
        border-top: solid 20px red;
        border-right: solid 20px red;
        border-bottom: solid 20px red;
        border-left: solid 20px red;
    }
    .top {
        background-image: url("https://i.pinimg.com/originals/75/29/fb/7529fb2aefd7445fd4fa827ce1bbe0a7.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        font-size: 0.8em;
    }
    footer{
    grid-area: footer;
    width: 100%;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 0.8em;
    }
    
}