$color-fondo: #ffb4ac;
$color-fondo2: white;
$color-fondo3: black;
footer{
    border: 2px solid rgba($color-fondo3, 0.40);
    background-color: $color-fondo;
}

#g1{
    background-color: $color-fondo2;
}

.f1 {
    width: 80%;
    height: 80%;
}
.f2{
    @extend .f1
}

.g1{
    @extend .f1
}
.g2{
    @extend .f1
}
.g3{
    @extend .f1
}
.g4{
    @extend .f1
}
.g5{
    @extend .f1
}

@mixin letra ($font-size,$width) {
    $font-size: 1.5em;
    $width: 100%
}

#g1{
    @include letra(1.0em, 100%)
}
footer{
    @include letra (1.5em, 100%)
}