* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.principal{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
        "contenido contenido contenido contenido"
        "footer footer footer footer";
}
/*
.principal  {
    background: linear-gradient(2deg, #212529, #000000);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 28s ease infinite;
    -moz-animation: AnimationName 28s ease infinite;
    animation: AnimationName 28s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@keyframes AnimationName {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
*/
.navegador{
    grid-area:header;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.img-fluid{
    height: 350px;
    grid-area: header;
    width: 100%;
    align-self: center;
    align-items: center;
}
.contenido {
    margin-top: 35px;
    height: 100%;
    width: 100%;
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    justify-self: center;
    align-items: center;
    justify-items: center;
    }

 .card{
     width: 50%;
     height: 100%;
 } 

.img-catalogo{
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-self: center;
    align-items: center;
    justify-items: center;
}

.footer { 
    margin-top: 50px;
    grid-area: footer;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 1.5em;
    font-style: normal;   
    background-color: #212529;
}